body{
  height: 4500px;
  background: #EEE;
}

.socialMedia ul{
  padding: 0;
  margin-left: 0;
}
.socialMedia ul li{
  list-style: none;
  margin: 0;
  padding: 0;
}
h2{
  color: #00F;
}
h3{
  color: #F00;
}
